<li data-comment-id="<%= comment.id %>">
  <div class="comment-body">
    <div class="author-avatar">
      <img src="<%= comment.authorAvatarUrl %>">
      <% if (voting && currentUser && comment.authorId !== currentUser.id){ %>
        <div class="voting">
          <span class="votes">0</span>
          <a href="#" class="action-link upvote", title="<%= t('side-comments.upvote') %>"><i class="icon-angle-up"></i></a>
          <a href="#" class="action-link downvote", title="<%= t('side-comments.downvote') %>"><i class="icon-angle-down"></i></a>
        </div>
      <% } %>
    </div>
    <div class="right-of-avatar">
      <% if (comment.authorUrl) { %>
        <a class="author-name" href="<%= comment.authorUrl %>">
          <%= comment.authorName %>
        </a>
      <% } else { %>
        <p class="author-name">
          <%= comment.authorName %>
          <% if (comment.createdAt) { %>
            <small class="ago" data-time="<%= comment.createdAt %>"></small>
          <% } %>
        </p>
      <% } %>
      <p class="comment">
        <%= comment.comment %>
      </p>
      <% if (currentUser && (currentUser.isAdmin || comment.authorId === currentUser.id)){ %>
        <a href="#" class="action-link delete"><%= t('side-comments.delete') %></a>
      <% } %>
    </div>
  </div>
</li>