<div class="side-comment <%= sectionClasses %>">
  <a href="#" class="marker">
    <span><%= comments.length %></span>
  </a>

  <div class="comments-wrapper">
    <ul class="comments">
      <% _.each(comments, function( comment ){ %>
        <%= _.template(commentTemplate, { comment: comment, currentUser: currentUser, t: t, voting: voting }) %>
      <% }) %>
    </ul>

    <% if (!currentUser) { %>
      <span class="restricted">
        <a href="/signin"><%= t('side-comments.login') %></a>
        <%= t('side-comments.or') %>
        <a href="/signup"><%= t('side-comments.signup') %></a>
      </span>
    <% } %>

    <% if (currentUser){ %>
      <a href="#" class="add-comment"><%= t('side-comments.leave-a-comment') %></a>
      <div class="comment-form">
        <div class="author-avatar">
          <img src="<%= currentUser.avatarUrl %>">
        </div>
        <div class="right-of-avatar">
          <p class="author-name">
            <%= currentUser.name %>
          </p>
          <p class="error"></p>
          <input type="text" class="comment-box" placeholder="<%= t('side-comments.leave-a-comment') %>...">
          <div class="actions">
            <a href="#" class="action-link post"><%= t('side-comments.post') %></a>
            <a href="#" class="action-link cancel"><%= t('side-comments.cancel') %></a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>