<div class="side-comment <%= sectionClasses %>">
  <a href="#" class="marker">
    <span><%= comments.length %></span>
  </a>

  <div class="comments-wrapper">
    <ul class="comments">
      <% _.each(comments, function( comment ){ %>
        <%= _.template(commentTemplate, { comment: comment, currentUser: currentUser, t: t }) %>
      <% }) %>
    </ul>

    <a href="#" class="add-comment"><%= t('Leave a comment') %></a>

    <% if (currentUser){ %>
      <div class="comment-form">
        <div class="author-avatar">
          <img src="<%= currentUser.avatarUrl %>">
        </div>
        <p class="author-name">
          <%= currentUser.name %>
        </p>
        <input type="text" class="comment-box right-of-avatar" placeholder="<%= t('Leave a comment...') %>">
        <div class="actions right-of-avatar">
          <a href="#" class="action-link post"><%= t('Post') %></a>
          <a href="#" class="action-link cancel"><%= t('Cancel') %></a>
        </div>
      </div>
    <% } %>
  </div>
</div>